*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main-border :#3dbcef solid 1px ;
    --main-color :#3dbcef;
}
html,body {overflow-x:hidden;}
.hero-section {
    background-image:url("images/landing.jpg");
    background-size: cover;
    height:100vh;
    background-position: center;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items:center;
    position: relative;
    z-index:1;
    
}
h1 {color: #ffffff;}
.icons button {background-color: transparent; border: none;}
.entete ul {
    display: flex;
    list-style: none;  
    gap: 1rem;
}
.entete ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
} 
.vertical-line {
    height: 1.5rem;
    width: 1px;
    background-color: rgb(255, 255, 255);
    margin-left: 2rem;
}
.icons i {
    color: rgb(255,255,255);
    font-size: 1.5rem;
}
.icons {
    display: flex;
    gap: 2.2rem;
    align-items: center;
}   
nav{
    display: flex;
    justify-content: flex-end;
    min-width:0;
    flex-grow: 1;
    flex-shrink: 1;
}
.entete {
    display: flex;
    /* gap: 8rem; */
    align-items: center;
    position: absolute;
    top: 1rem;
    z-index: 1;
    border-bottom: 1px solid  rgba(255, 255, 255,0.7);
    /* padding: 1.5rem 0 0 0; */
    padding: 0;
    height: 5rem;
    /* justify-content: space-between; */
    width: 80%;
    
   
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
     z-index: -1;
}
.blue-box h2,
.blue-box p {
    color: rgb(255, 255, 255);  
}
.blue-box {
    width: 50%;
    background-color: rgba(19, 100, 120,0.7);
    padding: 4.5rem  1.5rem  1.5rem 5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    line-height: 2;
    height: 50%;
 
}
.entete ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top:36px;
    background-color: transparent;
}
.entete ul li a:hover::after {
    background-color: #0bc2f5;
    height: 2px;
}
.entete ul li a:hover{
    color: var(--main-color);   
}
.container .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.container .slider input[type="radio"] {
    display: none;
}
.container .slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 1s ease;
}
.slide {
    width: 33.3333%;
    height: 100vh;
}
#slide1:checked ~ .slides {
    transform: translateX(0vw);
}
#slide2:checked ~ .slides {
    transform: translateX(-33.3333%);
}
#slide3:checked ~ .slides {
    transform: translateX(-66.6666%);
}
.ronds label{
    width: 20px;
    height: 20px;
    background-color:rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
    margin-inline: 10px;
}
.ronds {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); 
}
.fleches {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
.fleches label {
    margin: 0 20px;
    pointer-events: all;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    display: none;  
    color: rgb(255, 255, 255);
}

/* Quand radio1 est coché, on affiche les flèches de .label1 */
#slide1:checked ~ .fleches label[for="slide3"].prev,
#slide1:checked ~ .fleches label[for="slide2"].next{
    display: flex;
}
#slide2:checked ~ .fleches label[for="slide1"].prev,
#slide2:checked ~ .fleches label[for="slide3"].next{
    display: flex;
}
#slide3:checked ~ .fleches label[for="slide2"].prev,
#slide3:checked ~ .fleches label[for="slide1"].next{
    display: flex;
}
.container {
    overflow: hidden;
}
.slide img{
    
    display: block;
    margin: 0 auto;
}
/* Slide parent de l’image cta-bg.jpg */
#photo2 {
  background-color: lightblue;
}
/* Slide parent de l’image man.jpg */
#photo3 {
      background-color:var(--main-color);
}
#slide1:checked ~ .ronds label[for="slide1"],
#slide2:checked ~ .ronds label[for="slide2"],
#slide3:checked ~ .ronds label[for="slide3"] {
        background-color: #0bc2f5;
}
.services h2 {
    text-align: center;
    margin-top: 5rem;
    font-weight: 200;
    font-size: 2.5rem;
    color:rgb(53, 47, 47);
    letter-spacing: 2px;
}
.segment{
    width: 10%;
    height: 1px;
    background-color: black;
    margin: 2rem auto;
    position: relative;
    font-weight:100;
}
.cercle {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.services p {
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    color: gray;
    line-height: 1.5;
}
.tools {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 1.5rem; 
    max-width: 1200px;
    gap: 2.5rem;
}
.tools i {
  font-size: 40px;
  color: #333;
}
.services h4 {
    color:#0bc2f5;
}
.service-item {
    display: flex;
    margin-top: 2rem;  
    gap: 2rem; 
}
.tools p{
   text-align: justify;
   width: 100%;
}
.phones {
    background-image: url(images/design-features.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    position: relative;
    overflow:hidden;
}
.phones img {
    position: absolute;
    left: 7rem;
    bottom:-5rem;
}
.box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height:60%;
    width: 50%;
    background-color: rgba(19, 100, 120,0.9);
    padding: 4rem;  
}
.phones h3 {
    color: rgb(255, 255, 255);
    font-weight: 200;
    margin-bottom: 3rem;
}
.qualities {
    display: flex;
    color: rgb(255, 255, 255);
    column-gap:1rem ;
    margin-block: 1.5rem;
}
.boutons{
    text-align: center;
    margin-bottom: 2rem;
}
.boutons label{
    margin-inline: 1rem;
    width: 3rem;
    height:2rem;
    background-color:var(--main-color);
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.choice {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  gap: 1rem;
}
.choice button {
    font-size: 1rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
}
.choice button:first-child {
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}
.image-container {
 display: grid;
 grid-template-columns:repeat(4,minmax(250px,1fr));
 max-width: 100%;
}
.sora img {
    display: block;
    width: 100%;
    height: auto;
    transform: rotate(0deg);
    transition: transform 1s ease;
}
.sora img:hover {
    transform: rotate(3deg);
}
.sora {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sora span {
    display: block;
    color: #0bc2f5;
    padding: 1rem;
}
.caption p,.caption span {
    padding-left: 10px;
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1.5rem;  
}
.sora:hover .caption{
    transform: translateY(0);
}
.main-btn {
    display: block;
    margin-top: 2rem;
    margin:2rem auto;
    text-align: center;
    background-color:var(--main-color);
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
}
.ancre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;
}
html {
  scroll-behavior:smooth;
}
.video {
    height: 100vh;
    width: 100%;
   position: relative;  
}
video {
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: absolute;
    overflow: hidden;
}
.film {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.band {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: rgb(11, 194, 245,0.5);
    top: 50%;
    transform: translateY(-50%);  
}
.video h2 , .video h3 {
    color: white;
}
.weare {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    text-align: center;
}
.video button {
    color: white;
    background-color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
}
.statistics {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 5rem;
}
.tel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.numbers {
    position: absolute;
    background-image: url(stats.png);
    top: 40%;
    height: 60%;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 40%;
    height: 60%;
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
}
.nombres {
    width: 90%;
    min-height: 40%;
    background-color:rgb(0, 234, 255,0.5) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 1rem;
    justify-content: space-around;
    gap: clamp(0.5rem,2vw,2rem);
    line-height: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}
.nombres i ,.nombres div , .nombres h3 {
    color: rgb(255, 255, 255);
}
.nombres i
 { 
    font-size: 1rem;
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .awesome div {
    font-size: 2.5rem;
    font-weight: bolder;
 }
 .awesome h3 {
    font-size: 1rem;
    font-weight: 100;
 }
 .awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
 }
 .teskills {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 0 5rem;
    margin-top: 5rem;
   
 }
 .testimonials {
    width: 45%;
 }

 .testimonials > p {
    width: 80%;
    margin-block: 1rem;
    text-align: center;
    color: rgb(152, 142, 142);
    line-height: 1.5;
}
.testimonials img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.testimonials figure {
    display: flex;
    column-gap:2rem;
    margin-block: 3rem;
}
  .testimonials span {
    font-family: sans-serif;
    color: rgba(128, 128, 128, 0.763);
    margin-right: 0;
}
.testimonials figcaption {
    display: flex;
    justify-content: end;
}
.testimonials div {
    width: 45%;
     border-bottom: 1px solid rgba(128, 128, 128, 0.888);
}
input:checked {
    background-color: var(--main-color);
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
}
.testimonials input[type="radio"]{
   position: relative;
   left: 12rem;
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 0.2rem;
}
.skills {
    width: 45%;
}
.skills > h2 ,.testimonials h2 {
    width: 80%;
     font-size: 1rem;
     font-weight: 500;
     text-align: center;
     margin-top: 0;
}
 .skills > p {
    width: 80%;
    margin:1rem ;
    text-align: center;
    color: rgb(152, 142, 142);
    line-height: 1.5;
}
.container-progress {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.gray-bar {
    background-color: rgb(232, 217, 217);
    height: 1.8rem;
    margin-bottom: 3rem;
}
.colored-bar{
    background-color: var(--main-color);
    width: 80%;
    height: 1.8rem;
    animation: loading 3s linear forwards; 
    position: relative;  
}
.bar1{animation-name: loading1;}
.bar2{animation-name: loading2;}
.bar3{animation-name: loading3;}
.bar4{animation-name: loading4;}

@keyframes loading1 {
    0% {width: 0;}
    100% {width:90%;}
}
@keyframes loading2 {
    0% {width: 0;}
    100% {width:85%;}
}
@keyframes loading3 {
    0% {width: 0;}
    100% {width:80%;}
}
@keyframes loading4 {
    0% {width: 0;}
    100% {width:90%;}
}

 .tooltip {
    width: 2.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;    
} 
.tooltip::after {
    content: "";
    border: 7px solid;
    width: 0;
    height: 0 ;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.tip1,.tip2,.tip3,.tip4 {
position: absolute;
top: -2rem;
right: 0;
transform: translateX(50%);
animation: disappear 3s linear forwards;
}
.skills label {
    margin-bottom: -2rem;
}
@keyframes disappear {
    0% {opacity: 0;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}
.citation figure {
    height: 45vh;
    background: url(quote.jpg) no-repeat ;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
    position: relative;
    z-index: 1; 
}
.citation p {
    font-size: 1.7rem;
}
blockquote {
    width: 70%;
}
.citation ::before {
    content:"";
    height: 100%;
    inset: 0;
    filter: grayscale(100%) brightness(45%) contrast(200%);
    z-index: -1;
    position: absolute;
    width: 100%;
    background: url(quote.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.prices {
    display: flex;
    column-gap: 2rem;
    row-gap: 3rem;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
 .plan {
     flex: 0 1 calc(25%-1.5rem);
      max-width: 300px;
      min-width: 250px; 
      text-align: center;
    }
.plan> * {
    margin-top: 2rem;
}
.plan h3 {
    width: 100%;
    border-top:#3dbcef solid 1px ;
    padding-top: 2rem;
    margin-top: 0;
    font-weight: 500;
}
.plan div , .plan h4:last-of-type {
     width: 100%;
    border-bottom:var(--main-border); 
    padding-bottom: 2rem;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: baseline;
    font-weight: 100;
}
.value-price {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
}
.plan sup {
    font-size: 1.5rem;
    align-self: flex-start;
}
sub {
font-size: 1rem;
font-weight: 600;
}
.plan h4:nth-of-type(-n+3) {
  width: 80%;
  margin-inline: auto;
  border-bottom:#3dbcef solid 2px ; 
  font-weight: 100; 
}
.plan a {
    text-decoration: none;
    color: blue;
    border:#3dbcef solid 1px ;
    padding: 1rem;
    display: inline-block;
}
.prices p {
   text-align: center;
   font-size: 1.2rem;
   font-weight: 400;
   width: 100%; 
   }
   .subscribe {
    height: 25%;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 1rem;
    gap: 2rem;
   }
.subscribe form {
    border: 1px white solid;
    height: 4rem;
     flex: 1 1 45%;
     display: flex;
}
.subscribe p {
    color: #ffffff;
    width:50% ;
    font-size: 1rem;
    line-height: 2;
    flex: 1 1 50%;
}
.subscribe::before {
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    position: absolute;
    background-image: url(subscribe.jpg);
    z-index: -1;
}
.subscribe form {
    
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 0.5rem;   
    width: 100%;
    max-width: 500px;
    border: 1px white solid;
    height: 3.5rem;
    display: flex;  
}
.subscribe form input[type="email"]{
    background-color: transparent;
    color: #ffffff;
    height: 100%;
    flex-grow: 1;
    border: none;
    font-weight: 800;
    min-width: 0;
}
.subscribe form input[type="email"]::placeholder {
    color: #ffffff;
    opacity: 0.8;
}
.subscribe button {
    background-color: var(--main-color);
    height: 100%;
    flex-direction:initial;
    color: #ffffff;
    border: none;
    padding: 0 1.5rem;  
    width: 30%;
}
.subscribe form i{
    font-size: 1.3rem;
    -webkit-text-stroke: 1px #ffffff;
    color: #000;
    margin-left: 1rem;    
}
.subscribe form input[type="email"]:focus {
    outline: none;
}
 .subscribe form input:-webkit-autofill, 
  .subscribe form input:-webkit-autofill:hover, 
   .subscribe form input:-webkit-autofill:focus, 
   .subscribe form input:-webkit-autofill:active { 
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
   }
.communication {
    display: flex;
    height: 80vh;
    margin: 2rem auto;
    gap: 2rem;
    width: 80vw;
    padding: 2rem;
    box-sizing: border-box;
}
.formulary {
    flex: 0 0 70%;
}
 address {
    flex: 0 0 30%;
    line-height: 2.2;
    flex:3;   
    letter-spacing: 0.2em; 
}
.name {
    height: 100%;
}
.formulary input {
    width: 100%;
    display: block;
    height: 30%;
    margin-bottom: 1rem;
    height: 2.7rem;
    padding: 1rem;
}
textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
}
.communication .boutton {
    height: 2.5rem;
    width: 8.5rem;
    color: rgb(255, 255, 255);
    background-color: var(--main-color);
    border: none;
    float: right;
    clear: both;
    margin-top: 2rem;
    padding:0; 
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    width: 100%;
    height: 50vh;
    background-size :cover;
     z-index: 1;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     row-gap: 2rem;
}
footer .logo {
    margin: 0 auto;
    display: block;   
}
footer::before {
    content:"";
    height: 100%;
    inset: 0;
    filter: brightness(40%) grayscale(10%);
    z-index: -1;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
     background-image: url(subscribe.jpg);
     background-position: top;
}
footer h3 {
    color: white;
    font-weight:300;
    letter-spacing:0.2rem;
    position: relative;
}
footer h3::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: white;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
footer i {
    color: white;
    font-size: 0.8rem;
    margin-inline: 1rem;
    margin-top: 1.5rem;
}
footer p {
    color: white;
    letter-spacing: 0.2rem;
}
footer small span {
    color: var(--main-color);
    font-weight: 900;
}
.humburger-checkbox ,.humburger-label{display: none;}
.humburger-label .bar {
    width: 1.6rem;
    height: 0.1rem;
    margin: 0.3rem;
    background-color: rgb(245, 242, 248);
}
@media (max-width:750px){
   .humburger-label{
    display:flex;
    flex-direction: column;  
    margin-left: auto;
    cursor: pointer; 
   }
    nav.humburger-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100vw;
    margin-left: 0;
    background-color: rgba(0, 0, 0,0.5);
    
   }
   .humburger-menu ul {
    display: block;
   }
 
   .humburger-menu ul li a {
    display: block;
    padding:0.5rem 0.5rem;
   }
    .humburger-menu ul li a::after {
        margin-inline: 0;
        width: 100%; ;
    }
   .humburger-checkbox:checked ~ .humburger-menu {
    display: block;
   }
   .humburger-checkbox:checked ~ .humburger-label {
    
    animation: rotation 2s ease-in-out  forwards;
   }
   @keyframes rotation {
    0%{
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
    
   }
   .entete {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    padding: 0;
    width: 100%;
   }
   .vertical-line {
    margin-left: 2rem;
   }
   .icons i {
    margin-right: 1rem;
   }
  .prev,.next {
   opacity: 0;
  }
  .humburger-checkbox:checked +.humburger-label .bar:first-child {
        transform: translateY(0.7rem)rotate(45deg);    
  }
  
  .humburger-checkbox:checked +.humburger-label .bar:nth-child(2){
    opacity: 0;
  }
  .humburger-checkbox:checked +.humburger-label .bar:last-child {
    transform: translateY(-0.7rem)rotate(-45deg);
    
  }
  .humburger-menu ul li {
    opacity: 0;
    transform: translateY(-20px);
  }
  .humburger-checkbox:checked ~ .humburger-menu ul li {
    animation: descente 0.5s ease-out forwards;
   }
   @keyframes descente {
    from {
       opacity: 0;
       transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(1){
    animation-delay: 0.1s;
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(2){
    animation-delay: 0.3s;
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(3){
    animation-delay: 0.5s;
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(4){
    animation-delay: 0.7s;
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(5){
    animation-delay: 0.9s;
   }
   .humburger-checkbox:checked ~ .humburger-menu ul li:nth-child(6){
    animation-delay: 1s;
   }
}
@media (max-width:900px) {
        .blue-box {
        width: 100%;
        height: auto;
}
    .blue-box p{
       line-height: 1.5;
       width: 100%;
}
    .tools {
        grid-template-columns: 1fr;  
       justify-content: center;   
}
.service-item {
    flex-direction: column;
    align-items: center;
    text-align: center;  
}
.tools p {
    width: 100%;
    text-align: center;
}
.services p {
    width: 90%;
}
}
@media(min-width:710px) and (max-width:900px){
    .phones img {
        left:1rem;
    }
}
@media(max-width:709px) {
    .phones img {
       display: none;
       
    }
    .box {
       width: 100%;
        left: 0;
       }
}
@media(max-width:1001px) {
    .image-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media(max-width:512px) {
    .image-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
   
}
@media(max-width:768px) {
  .weare h2 {
       font-size: 1rem;  
    }
  .weare h3 {
       font-size: 0.7rem;  
    }
  .weare  {
       gap: 1rem;  
    }
  .weare button  {
       transform: scale(0.8);  
    }
    .tel img {
         transform: scale(0.6); 
    }
}
@media(max-width:460px) {
 
    .tel img {
         transform: scale(0.4); 
    }
}
@media(max-width:800px) {
 
    .nombres {
         flex-wrap: wrap;
         height: 90%;
         gap: 0.5rem;
        
    }
    .awesome {
    row-gap: 0.5rem;
 }
    .awesome div {
    font-size: 1.5rem;
 }
}
@media(max-width:991px) {
     .teskills {
        min-width:90% ;
        flex-direction: column;
        padding: 0;
        margin: 2rem 0;
        text-align: center;
        align-items: center;
    }
    .testimonials {
         flex-direction: column;
         min-width: 80% ; 
    }
    .testimonials h2 {
        text-align: center;
        margin-inline: auto;
    }
    .skills {
        min-width: 80%
    }
    .testimonials figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline:auto;
    }
    .testimonials figure blockquote {
        margin:auto;
        line-height: 2;  
    }
    .testimonials > p {
        text-align: center;
        width: 90%;
        margin-inline: auto;
    }
    .testimonials figure p {
        width: 70%;
        margin-inline: auto;
        text-align: center;
    }
    .testimonials figure div {
        width: 100%;
    }
    .testimonials input[type="radio"]
 {
    position: relative;
    left: 50%;
   transform: translateX(-50%);
}
}

html {
    font-size: 14px;
}

@media (min-width: 640px) {
    html {
        font-size: 15px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 760px) {
    .subscribe {
       flex-direction: column;
       height: auto;
    }
    .subscribe form {
        width:100%;
        flex: 1 1 50%;
        }
    .subscribe button {
        width:100%;
       
        }
    }
@media (max-width: 476px) {
    .communication {
       flex-direction: column;
       height: auto;
    }
    address {
        text-align: center;
    }
    }

